<!DOCTYPE html>
<html>
<head>
    <title>Fibonacci</title>
</head>
<body>
    <h1>20 Primeiros Números de Fibonacci:</h1>
    <ul>
        {{#each sequencia}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>